.byebug_history
/.bundle
/.env
/config/initializers/secret_token.rb
/config/master.key
/config/settings.local*
/coverage/
/log
/node_modules/
/public/system
/spec/examples.txt
/spec/tmp
/tmp
/vendor/bundle
rerun.txt

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml
