%h2 A Competition

.field
  .label Description:
  = @competition.description

.field
  .label Open from:
  = @competition.open_from

.field
  .label Open until:
  = @competition.open_until

.field
  .label Rating method:
  = @competition.rating_method
